<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationUpdate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77AE33D02236AF0500C491F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77AE33E42236AF0800C491F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77AE33EF2236AF0800C491F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
